@model LocalTheatre.Models.ChangePasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutSinglePage.cshtml";
    ViewBag.Title = "Change Password";
}


@using (Html.BeginForm())
{
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                <div class="card card-signup">
                    <form class="form" method="" action="">
                        <div class="header header-danger text-center">
                            <h4>Change password</h4>
                        </div>

                        <div class="content">

                            @if (ViewBag.Confirmation != null)
                            {
                                <br>
                                <div class="alert alert-info">
                                    <div class="container-fluid">
                                        <div class="alert-icon">
                                            <i class="material-icons">info_outline</i>
                                        </div>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">
                                                <i class="material-icons">clear</i>
                                            </span>
                                        </button>
                                        <p>@ViewBag.Confirmation</p>
                                    </div>
                                </div>
                            }
                            
                            @Html.ValidationSummary("", new { @class = "text-danger" })

                            <div class="input-group">
                                <span class="input-group-addon">
                                    @Html.LabelFor(m => m.OldPassword, new {@class = "control-label"})
                                </span>
                                @Html.PasswordFor(m => m.OldPassword, new {@class = "form-control"})
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon">
                                    @Html.LabelFor(m => m.NewPassword, new {@class = "control-label"})
                                </span>
                                @Html.PasswordFor(m => m.NewPassword, new {@class = "form-control"})
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon">
                                    @Html.LabelFor(m => m.ConfirmPassword, new {@class = "control-label"})
                                </span>
                                @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})
                            </div>

                        </div>
                        <div class="footer">

                        </div>
                        <div class="footer text-center">
                            <input type="submit" value="Change Password" class="btn btn-simple btn-primary btn-lg"/>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    }
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}